.product{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
    margin: 20px;
    padding: 3px;
    max-height: 350px;
    min-width: 500px;
    background-color: white;
    z-index: 1;
}
.product >img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product > button {
    background: #ccf04b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #474233 #b2f77a #14f000;
    color: rgb(128, 112, 112);
  }
.price {
    margin-top: 1px;
  }
  .title-product{
    border-bottom: 1px solid lightgray
  }
.product-info {
    height: 100px;
    margin-top: 640px;
  } 